body{
    background-image: url("https://images.pexels.com/photos/2047420/pexels-photo-2047420.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-size:cover;
}